body {
  margin: 0;
  border: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px; }

table.monitor {
  margin-top: 20px;
  border: 1px solid #CCC; }
  table.monitor th, table.monitor td {
    text-align: center;
    border: 1px solid #CCC;
    padding: 5px; }
  table.monitor th {
    font-weight: 500;
    background-color: #EEE; }
  table.monitor td:nth-child(1) {
    font-weight: bold;
    background-color: #EEE; }

.body-content {
  margin-top: 20px; }

.heading {
  font-weight: 500;
  font-size: large;
  margin: 10px 0; }

.warningLimit {
  background-color: lightgoldenrodyellow; }

.errorLimit {
  background-color: lightcoral; }

.systemError {
  background-color: lightpink; }

.notAvailable {
  background-color: lightblue; }

.headerTitle {
  background-color: lightgray; }

li {
  line-height: 1.5em; }

.lastUpdated {
  display: inline;
  margin-left: 20px;
  font-size: x-small; }

div.inputForm {
  margin-right: 48px;
  padding: 16px;
  background-color: #e6e6e6;
  box-shadow: 2px 2px #DDD; }
  div.inputForm table {
    border-collapse: collapse; }
    div.inputForm table tr {
      border-bottom: 4px solid transparent;
      border-top: 4px solid transparent; }
      div.inputForm table tr td {
        padding: 8px;
        vertical-align: baseline; }
        div.inputForm table tr td .info {
          opacity: 0.8;
          font-size: small;
          width: 200px; }
      div.inputForm table tr h3 {
        border-bottom: 1px solid #CCC; }
