body {
  margin: 0;
  border: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px; }

table.monitor {
  margin-top: 20px;
  border: 1px solid #CCC; }
  table.monitor th, table.monitor td {
    text-align: center;
    border: 1px solid #CCC;
    padding: 5px; }
  table.monitor th {
    font-weight: 500;
    background-color: #EEE; }
  table.monitor td:nth-child(1) {
    font-weight: bold;
    background-color: #EEE; }

.body-content {
  margin-top: 20px; }

.heading {
  font-weight: 500;
  font-size: large;
  margin: 10px 0; }

.warningLimit {
  background-color: lightgoldenrodyellow; }

.errorLimit {
  background-color: lightcoral; }

.systemError {
  background-color: lightpink; }

.notAvailable {
  background-color: lightblue; }

li {
  line-height: 1.5em; }

.lastUpdated {
  display: inline;
  margin-left: 20px;
  font-size: x-small; }

div.inputForm {
  margin-right: 48px;
  padding: 16px;
  background-color: #e6e6e6;
  box-shadow: 2px 2px #DDD; }
  div.inputForm table {
    border-collapse: collapse; }
    div.inputForm table tr {
      border-bottom: 4px solid transparent;
      border-top: 4px solid transparent; }
      div.inputForm table tr td {
        padding: 8px;
        vertical-align: baseline; }
        div.inputForm table tr td .info {
          opacity: 0.8;
          font-size: small;
          width: 200px; }
      div.inputForm table tr h3 {
        border-bottom: 1px solid #CCC; }

td.headerTitle {
  background-color: lightgray; }
  td.headerTitle div.outer {
    white-space: nowrap; }
    td.headerTitle div.outer .outer-div {
      display: inline-block;
      width: 90%; }
      td.headerTitle div.outer .outer-div .outer-div-div div {
        white-space: nowrap;
        display: inline-block;
        border-bottom: 1px dashed #000; }
      td.headerTitle div.outer .outer-div .more-info {
        font-size: small;
        font-weight: normal; }
    td.headerTitle div.outer .inner-div {
      display: inline-block;
      vertical-align: top; }
      td.headerTitle div.outer .inner-div .dropdown {
        position: relative;
        display: inline-block; }
        td.headerTitle div.outer .inner-div .dropdown .dots {
          font-size: 16px;
          border: none;
          cursor: pointer;
          visibility: hidden;
          white-space: normal; }
          td.headerTitle div.outer .inner-div .dropdown .dots:after {
            content: '\2807';
            font-size: 20px; }
          td.headerTitle div.outer .inner-div .dropdown .dots .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1; }
            td.headerTitle div.outer .inner-div .dropdown .dots .dropdown-content a {
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block; }
              td.headerTitle div.outer .inner-div .dropdown .dots .dropdown-content a:hover {
                background-color: #ddd; }
